body
{
  margin: 0;
}

.center
{
  width: 100%;
}

svg
{
  /* border: 1px solid black; */
  position: absolute;
  top: 50px;
  left: 50%;
  margin-left: -250px;
}

#header
{
  background: #f1f1f1;
  border-bottom: 1px solid #aaaaaa
}
