.Projects {
    max-width: 965px;
    margin: 0 auto;
    padding: 38.5px;
    width: 100%;
    display: grid;
    box-sizing: border-box;
    /* Define Auto Row size */
    grid-auto-rows: 250px;
    /*Define our columns */
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr)); 
    grid-gap: 1em;
}