.Console {
    position: relative;
    width: 100%;
    overflow: hidden;
    .container {
        width: 90%;
        max-width: 640px;
        height: auto;
        margin: 100px 15px;
        border-radius: 8px;
        display: inline-block;
        background: #2F2F2F;
        .content {
            text-align: left;
            font-family: Menlo;
            font-size: 1.1em;
            color: white;
            margin: 20px 0 20px 50px;
        }
        .grey {
            color: #CCCCCC;
        }
        .title {
            background: #DADADA;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            div {
                border-radius: 50px;
                height: 12px;
                width: 12px;
                margin: 5px 4px;
                float: left;
                cursor: pointer;
            }
            p {
                display: inline-block;
                font-family: Menlo;
                font-size: .8em;
                color: #878787;
                margin: 3px;
                margin-left: -57px;
            }
            .icon {
                    opacity: 0;
                    width: 6px;
                    margin-top: -2px;
            }
            .red:hover, .yellow:hover, .green:hover {
                .icon {
                    opacity: 1;
                }
            }
            .red {
                background: #ED6559;
                color: rgb(165, 34, 22);
                margin-left: 10px;
            }
            .yellow {
                .icon {
                    width: 8px;
                }
                background: #E1BF4C;
                color: rgb(165, 129, 13);
            }
            .green {
                background: #72BE46;
                color: rgb(54, 121, 15);
            }
        }
    }
}


@media only screen and (max-width : 768px) {
    .Console {
        .container {
            max-width: 520px;
            .content {
                font-size: .75em;
                margin-left: 30px;
            }
            .title {
                p {
                    font-size: .7em;
                }
            }
        }
    }
}