.Button {
    display: inline-block;
    border-radius: 5px;
    padding: 8px 10px;
    color: white;
    font-weight: 500;
    transition: .5s;
    cursor: pointer;
    background: #7DC38F;
    border: 2px solid rgb(110, 180, 128);
}
.Button:hover {
    background: rgb(110, 180, 128);
}