.Header {
    width: 100vw;
    height: 500px;
    position: absolute;
    top: 0;
    z-index: -1;
    background: #A2C4E7;    
}

@media only screen and (max-width : 768px) {
    .Header {
        height: 380px;
    }
}