.Footer {
    background: white;
    height: 40px;
    width: 100vw;
    text-align: center;
    .container {
        width: 90vw;
        max-width: 870px;
        display: inline-block;
        p {
            color: #2F2F2F;
            font-size: .65em;
        }
        .copyright {
            margin-top: 17px;
            float: left;
        }
        .social {
            margin-top: 15px;
            font-family: Menlo;
            float: right;
        }
    }
}