@font-face {
  font-family: 'Graphik';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/Graphik/Graphik-400-Regular.otf');
}
@font-face {
  font-family: 'Graphik';
  font-style: normal;
  font-weight: 500;
  src: url('./fonts/Graphik/Graphik-500-Medium.otf');
}
// @font-face {
//   font-family: 'Menlo';
//   font-style: normal;
//   font-weight: 400;
//   src: url('./fonts/Menlo/Menlo.ttc');
// }

body {
  position: relative;
  overflow-x: hidden;
  width: 100vw;
  padding: 0;
  margin: 0;
  font-family: "Graphik", "Helvetica Neue", -apple-system, BlinkMacSystemFont, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #3A92C8;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
