@media only screen and (max-width : 768px) {
    .Hamburger {
        position: fixed;
        z-index: 1;
        right: 30px;
        cursor: pointer;
        .line {
            // height: 4px;
            // width: 40px;
            // border-radius: 3px;
            // margin: 8px 0;
            // background: black;
            // transition: transform .1s;
            width: 35px;
            height: 4px;
            background: #25283d;
            margin: 6px;
            border-radius: 25px;
            transition: transform .1s;
        }
        .line:nth-child(1).open {
            transform-origin: center;
            transform: rotate(45deg) translate(9px, 5px);
        }
        .line:nth-child(2).open {
            transform-origin: center;
            transform: scaleX(0);
        }
        .line:nth-child(3).open {
            transform-origin: center;
            transform: rotate(-45deg) translate(9px, -5px);
        }
    }
    .Hamburger.open {
        opacity: .9999999;
    }
}