@media only screen and (max-width : 768px) {
    .Hamburger {
        position: fixed;
        z-index: 10000;
        right: 30px;
        cursor: pointer;
        .line {
            width: 35px;
            height: 4px;
            background: #fff;
            box-shadow: 0px 0px 0px 1.5px #25283d;
            margin: 6px;
            border-radius: 25px;
            transition: transform .35s;
        }
        .line:nth-child(1).open {
            transform-origin: center;
            transform: rotate(45deg) translate(9px, 5px);
        }
        .line:nth-child(2).open {
            transform-origin: center;
            transform: scaleX(0);
        }
        .line:nth-child(3).open {
            transform-origin: center;
            transform: rotate(-45deg) translate(9px, -5px);
        }
    }
    .Hamburger.open {
        opacity: .9999999;
    }
}